.main-header {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  background-color: sandybrown;
  background-image: url("https://www.transparenttextures.com/patterns/robots.png");
}
.main-header img {
  padding: 0;
}
.main-header h2 {
  color: white;
  font-weight: normal;
  margin: -15px 0 0 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .main-header {
    width: 50vw;
    padding-top: 40px;
    margin: 180px 3rem 3rem 60px;
  }
}
